<p id="notice"><%= notice %></p>

<p class="booking-info">
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p class="booking-info">
  <strong>From:</strong>
  <%= @flight.from %>
</p>

<p class="booking-info">
  <strong>To:</strong>
  <%= @flight.to %>
</p>

<div class="seat-container">
<% @seats.each_with_index do |seat, index | %>

<div class="seat">
  <h4>Seat: <%= index + 1 %></h4>

  <h4>  </h4>
  </div>

<% end %>
</div>


<div class="control">
<%= link_to 'Edit', edit_flight_path(@flight), :class=>"link" %> |
<%= link_to 'Back', flights_path, :class=>"link" %>
</div>
