<div class="grid-container">
  <div class="grid-item">

<% if @user.errors.any?  %>
<ol>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  <% end %>
</ol>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username, :class=>"email" %>
<%= f.label :password %>
<%= f.password_field :password ,:class=>"email"  %>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation ,:class=>"email" %>
<br><br>
<%= f.submit "Sign Up" ,:class => "bttn btn-orange"%>
</div>
<% end %>
</div>
