<!DOCTYPE html>
<html>
  <head>
    <title>Team5Ba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if @current_user.present? %>
  <%= link_to "Sign Out", login_path, :method => 'delete' %>
   <% else %>
   <h1>Nobody logged in </h1>
  <% end %>
    <%= yield %>
  </body>
</html>
